<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="image1" value="..\\..\\Images\\test.jpg" />
    <add key="image2" value="..\\..\\Images\\test1.jpg" />
    <add key="image3" value="..\\..\\Images\\test2.jpg" />
    <add key="image4" value="..\\..\\Images\\test3.jpg" />
  </appSettings>
</configuration>